---
import Landing from "../components/Landing.astro";
import About from "../components/About.astro";
import Special from "../components/Special.astro";
import Process from "../components/Process.astro";
import Locations from "../components/Locations.astro";
import Newsletter from "../components/Newsletter.astro";
---

<html lang="en">
  <!-- Section Component Imports Established Above -->
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Boston Brewing Co.</title>

    <link rel="stylesheet" href="https://use.typekit.net/gbw2iav.css" />

    <link
      rel="stylesheet"
      href="https://unpkg.com/modern-normalize@1.1.0/modern-normalize.css"
    />

    <link
      rel="stylesheet"
      href="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.83/dist/themes/light.css"
    />
  </head>

  <body>
    <!-- Navigation Header -->
    <header class="tophead">
      <img src="images/BostonLogo.png" class="logo" />

      <!-- Shoelace. n.d. "Icon." Accessed on: 8 November, 2022. https://shoelace.style/components/icon-->
      <sl-icon class="menu" name="list" />
    </header>

    <main>
      <!-- Landing Hero Section -->
      <Landing />

      <!-- About Us Section -->
      <About />

      <!-- Season's Special Section-->
      <Special />

      <!-- Our Process -->
      <Process />

      <!-- Locations -->
      <Locations />

      <!-- Get In Touch -->
      <Newsletter />
    </main>

    <style>
      body {
        background-color: #e49472;
        font-family: articulat-heavy-cf, sans-serif;
        font-weight: 900;
        font-style: normal;
        margin: 0;
      }

      main {
        scroll-snap-type: y mandatory;
        height: 100vh;
        overflow-y: auto;
        scroll-behavior: smooth;
      }

      /* Top Header Section */

      .tophead {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 16px 16px;
        pointer-events: none;
        z-index: 10;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
        align-items: center;
      }

      .logo {
        width: 90px;
      }

      .menu {
        margin-left: auto;

        font-size: 50px;

        color: #ffff;
      }
    </style>

    <!-- Shoelace components used: Icons, Tag & QR Code  -->
    <script
      type="module"
      src="https://cdn.jsdelivr.net/npm/@shoelace-style/shoelace@2.0.0-beta.83/dist/shoelace.js"
    ></script>
  </body>
</html>
