---
---

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
    <meta name="viewport" content="width=device-width" />
    <meta name="generator" content={Astro.generator} />

    <title>Boston Brewing Co.</title>

    <link rel="stylesheet" href="https://use.typekit.net/gbw2iav.css" />
  </head>

  <body>
    <!-- Navigation Header -->
    <header class="tophead">
      <img src="images/BostonLogo.png" class="logo" />
      <img src="images/Menu.svg" class="menu" />
    </header>

    <!-- Landing Hero Section -->
    <div class="boston">
      <h1>Boston Brewing Co.</h1>
      <img src="images/BostonBlack.png" />
      <img src="images/BostonAfterglosse.png" />
      <img src="images/BostonPeaceful.png" />
    </div>

    <!-- About Us Section -->
    <div class="about">
      <h1>About Us</h1>
      <img src="images/BostonBlack.png" />
    </div>

    <!-- Season's Special Section-->
    <div class="special">
      <h1>Season's Special</h1>
      <img src="images/BostonSummer.png" />
    </div>

    <!-- Our Process -->
    <div class="process">
      <h1>Our Process</h1>
      <img src="images/BostonBlack.png" />
    </div>

    <!-- Locations -->
    <div class="locations">
      <h1>Locations</h1>
      <img src="images/BostonDenmark.webp" class="denmark" />
      <h2>Denmark</h2>
      <img src="images/BostonVic.jpeg" class="vicpark" />
      <h2>Victoria Park</h2>
    </div>
    <style>
      body {
        background-color: #e49472;
        font-family: articulat-heavy-cf, sans-serif;
        font-weight: 900;
        font-style: normal;
      }

      /* Top Header Section */

      .tophead {
        background-color: #e49472;
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        padding: 10px 10px;

        display: flex;
        flex-direction: row;
        flex-wrap: nowrap;
      }

      .logo {
        width: 90px;
      }

      .menu {
        width: 40px;
        padding-left: 260px;
      }

      /* Landing */
      .boston {
        padding-top: 100px;
      }

      /* About Section */

      .about {
        background-color: #c84f6c;
      }

      .special {
        background-color: #c8f0e4;
      }

      .process {
        background-color: #e35d41;
      }

      /* Location Section */

      .denmark {
        width: 300px;
      }

      .vicpark {
        width: 300px;
      }
    </style>
  </body>
</html>
