---
import Landing from "../components/Landing.astro";
import About from "../components/About.astro";
import Special from "../components/Special.astro";
import Process from "../components/Process.astro";
import Locations from "../components/Locations.astro";
---

<!-- Section Component Imports Established Above -->
<head>
  <meta charset="utf-8" />
  <link rel="icon" type="image/svg+xml" href="/favicon.ico" />
  <meta name="viewport" content="width=device-width" />
  <meta name="generator" content={Astro.generator} />

  <title>Boston Brewing Co.</title>

  <link
    rel="stylesheet"
    href="https://unpkg.com/modern-normalize@1.1.0/modern-normalize.css"
  />

  <link rel="stylesheet" href="https://use.typekit.net/gbw2iav.css" />
</head>

<body>
  <!-- Navigation Header -->
  <header class="tophead">
    <img src="images/BostonLogo.png" class="logo" />
    <img src="images/Menu.svg" class="menu" />
  </header>

  <main>
    <!-- Landing Hero Section -->
    <Landing />

    <!-- About Us Section -->
    <About />

    <!-- Season's Special Section-->
    <Special />

    <!-- Our Process -->
    <Process />

    <!-- Locations -->
    <Locations />
  </main>

  <style>
    body {
      background-color: #e49472;
      font-family: articulat-heavy-cf, sans-serif;
      font-weight: 900;
      font-style: normal;
      margin: 0;
    }

    main {
      scroll-snap-type: y proximity;
      height: 100vh;
      overflow-y: scroll;
    }

    /* Top Header Section */

    .tophead {
      position: fixed;
      top: 0;
      left: 0;
      right: 0;
      padding: 16px 16px;
      z-index: 50;

      display: flex;
      flex-direction: row;
      flex-wrap: nowrap;
    }

    .logo {
      width: 90px;
    }

    .menu {
      width: 35px;
      margin-left: auto;
    }
  </style>
</body>
