---
import Container from "./Container.astro";
import Down from "./Down.astro";
---

<!-- About Section -->
<Container backgroundColour="#C84F6C" bubbleColour="#C8F0E4" id="about">
  <div class="about-us">
    <h2 class="top">About</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
      facilisis arcu, vel ultricies neque.
    </p>
    <!-- The Crafty Pint. n.d. "Boston Brewing Afterglose." Digital Image. Reproduced From: Crafty Pint. https://craftypint.s3.amazonaws.com/crafty4/beer/Boston-Brewing- Limited-release-180910-181207.png -->
    <img class="black-can" src="images/BostonBlack.png" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
      facilisis arcu, vel ultricies neque.
    </p>
    <h2 class="bottom">Us</h2>
  </div>

  <a href="#special">
    <Down />
  </a>
</Container>

<style>
  .about-us {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    text-align: center;
  }

  h2 {
    margin: 0;

    font-size: 75px;
    color: #c84f6c;
    -webkit-text-stroke: 1px #c8f0e4;

    text-align: center;
  }

  h2.bottom {
    color: #c8f0e4;
  }

  .black-can {
    height: 400px;
    width: auto;
    margin: 0;
  }

  p {
    font-family: articulat-cf, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;

    color: #c8f0e4;

    text-align: center;
  }

  @media only screen and (min-width: 992px) {
    p {
      font-size: 22px;
    }
  }
</style>
