---
import Container from "./Container.astro";
---

<!-- About Section -->
<Container backgroundColour="#C84F6C" bubbleColour="#C8F0E4">
  <div class="about-us">
    <h2 class="top">About</h2>
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
      facilisis arcu, vel ultricies neque.
    </p>
    <img class="black-can" src="images/BostonBlack.png" />
    <p>
      Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
      facilisis arcu, vel ultricies neque.
    </p>
    <h2 class="bottom">Us</h2>
  </div>
  <img class="second-scroll" src="images/second-scroll.svg" />
</Container>

<style>
  .about-us {
    position: absolute;
    top: 55%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    margin: 0;

    font-size: 75px;
    color: #c84f6c;
    -webkit-text-stroke: 1px #c8f0e4;

    text-align: center;
  }

  h2.bottom {
    color: #c8f0e4;
  }

  .black-can {
    height: 400px;
    width: auto;
    margin: 0;
  }

  p {
    font-family: articulat-cf, sans-serif;
    font-weight: 500;
    font-style: normal;
    font-size: 18px;

    color: #c8f0e4;

    text-align: center;
  }

  .second-scroll {
    position: absolute;
    margin: 0;
    height: 100px;
    width: auto;
    top: 50%;
    right: 2%;
  }
</style>
