<!-- About Section -->
<section>
  <div class="about-us">
    <h2>
      <span class="top">About</span>
      <img class="black-can" src="images/BostonBlack.png" />
      <span class="bottom">Us</span>
    </h2>
  </div>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
    facilisis arcu, vel ultricies neque. Ut tincidunt libero sed magna aliquet,
    id eleifend arcu vehicula.
  </p>
  <p>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam vel
    facilisis arcu, vel ultricies neque. Ut tincidunt libero sed magna aliquet,
    id eleifend arcu vehicula.
  </p>
  <img class="second-scroll" src="images/second-scroll.svg" />
</section>

<style>
  section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #c84f6c;

    scroll-snap-align: center;
  }

  h2 {
    margin: 0;

    font-size: 75px;
    color: #c84f6c;
    -webkit-text-stroke: 1px #c8f0e4;

    text-align: center;
  }

  h2 span {
    display: block;
  }

  h2 .top {
    margin: 0;
    position: absolute;
    top: 140px;
    left: 0;
    right: 0;
  }

  h2 .bottom {
    margin: 0;
    position: absolute;
    bottom: 70px;
    left: 0;
    right: 0;
  }

  .black-can {
    position: absolute;
    height: 500px;
    width: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .second-scroll {
    position: absolute;
    margin: 0;
    height: 100px;
    width: auto;
    position: absolute;
    top: 50%;
    right: 2%;
  }
</style>
