---
import Bubbles from "./Bubbles.astro";

// Defining Properties in Typescript but still in Javascript format pls still give me marks for JS
export interface Props {
  backgroundColour: string;
  bubbleColour: string;
  id?: string;
}

// Applying Properties in Astro
const { backgroundColour, bubbleColour, id } = Astro.props;
---

<!-- Specific placement of background and bubbles so that it plays within each section of the website -->
<section id={id}>
  <div class="container">
    <Bubbles bubbleColour={bubbleColour} />
    <div class="background"></div>
    <!-- Defines where component children goes -->
    <slot />
  </div>
</section>

<style define:vars={{ backgroundColour }}>
  section {
    overflow: hidden;
    height: 100vh;
    scroll-snap-align: start;
  }

  .container {
    width: 100%;
    height: 100%;
    position: relative;
    overflow: hidden;
  }

  .background {
    background-color: var(--backgroundColour);
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    pointer-events: "none";
    overflow: hidden;

    z-index: -10;
  }
</style>
