---
import Container from "./Container.astro";
import Down from "./Down.astro";
---

<!-- Landing Component -->
<Container backgroundColour="#e49472" bubbleColour="#C8F0E4">
  <h1>
    <span class="left">Boston</span>
    <span class="middle">Brewing</span>
    <span class="right">Co.</span>
  </h1>
  <img class="black-can" src="images/BostonBlack.png" />
  <img class="pink-can" src="images/BostonAfterglosse.png" />
  <img class="blue-can" src="images/BostonPeaceful.png" />

  <!-- <a href="#about">
    <img class="arrow-down" src="images/ArrowDown.svg" />
  </a> -->

  <Down />
</Container>

<style>
  h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    width: 7.5ch;
    font-size: 75px;
    color: #e49472;
    -webkit-text-stroke: 1px #c8f0e4;
  }

  h1 span {
    display: block;
  }

  h1 .middle {
    color: #c8f0e4;
    text-align: center;
  }

  h1 .left {
    text-align: left;
  }

  h1 .right {
    text-align: right;
  }

  .black-can {
    position: absolute;
    height: 400px;
    width: auto;
    margin: 0;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
  }

  .pink-can {
    position: absolute;
    height: 300px;
    width: auto;
    margin: 0;
    bottom: 0;
    right: 0;
    transform: translate(-20%, 40%) rotate(-15deg);
  }

  .blue-can {
    position: absolute;
    height: 300px;
    width: auto;
    margin: 0;
    top: 0;
    left: 0;
    transform: translate(20%, -40%) rotate(160deg);
  }

  .arrow-down {
    position: absolute;
    height: 50px;
    width: auto;
    margin: 0;
    top: 90%;
    left: 50%;
    transform: translate(-55%, -5%);
  }
</style>
