<div class="section">
  <h1>Boston Brewing Co.</h1>
  <img class="black-can" src="images/BostonBlack.png" />
  <img class="pink-can" src="images/BostonAfterglosse.png" />
  <img class="blue-can" src="images/BostonPeaceful.png" />
  <img class="arrow-down" src="images/ArrowDown.svg" />
</div>

<style>
  h1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);

    font-size: 80px;
    color: #c8f0e4;
  }

  .section {
    height: 100vh;
    position: relative;
    overflow: hidden;
  }

  .black-can {
    position: absolute;
    height: 400px;
    width: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%) rotate(20deg);
  }

  .pink-can {
    position: absolute;
    height: 300px;
    width: auto;
    margin: 0;
    position: absolute;
    bottom: 0;
    left: 0;
    transform: translate(20%, 40%) rotate(-15deg);
  }

  .blue-can {
    position: absolute;
    height: 300px;
    width: auto;
    margin: 0;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-20%, -40%) rotate(160deg);
  }

  .arrow-down {
    position: absolute;
    height: 50px;
    width: auto;
    margin: 0;
    position: absolute;
    top: 90%;
    left: 50%;
    transform: translate(-55%, -5%);
  }
</style>
