<!-- Location Section -->
<section>
  <div class="locations section">
    <h2>Locations</h2>
    <div class="denmark-top">
      <img src="images/boston-denmark.png" class="denmark" />
      <h3 class="denmark-title">Denmark</h3>
    </div>
    <div class="vicpark-bottom">
      <img src="images/boston-vicpark.png" class="vicpark" />
      <h3 class="vicpark-title">Victoria Park</h3>
    </div>
  </div>
</section>

<style>
  section {
    height: 100vh;
    position: relative;
    overflow: hidden;

    scroll-snap-align: center;
  }

  h2 {
    margin: 0;
    top: 140px;

    width: 7.5ch;
    font-size: 75px;
    color: #e49472;
    -webkit-text-stroke: 1px #c8f0e4;

    text-align: center;
  }
</style>
