<!-- Location Section -->
<section>
  <div class="locations section">
    <h2>Locations</h2>
    <div class="two-locations">
      <img src="images/boston-denmark.png" class="denmark" />
      <h3 class="denmark-title">Denmark</h3>
      <img src="images/boston-vicpark.png" class="vicpark" />
      <h3 class="vicpark-title">Victoria Park</h3>
    </div>
  </div>
</section>

<style>
  section {
    height: 100vh;
    position: relative;
    overflow: hidden;

    scroll-snap-align: start;
  }

  h2 {
    margin: 0;
    top: 140px;

    width: 7.5ch;
    font-size: 75px;
    color: #e49472;
    -webkit-text-stroke: 1px #c8f0e4;

    text-align: center;
  }

  .denmark {
    position: absolute;
    height: 250px;
    width: auto;
    margin: 0;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  .vicpark {
    position: absolute;
    height: 250px;
    width: auto;
    margin: 0;
    bottom: 10%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
