<!-- Location Section -->
<section>
  <div class="locations section">
    <h2>Locations</h2>
    <img src="images/BostonDenmark.webp" class="denmark" />
    <h3>Denmark</h3>
    <img src="images/BostonVic.jpeg" class="vicpark" />
    <h3>Victoria Park</h3>
  </div>
</section>

<style>
  section {
    height: 100vh;
    position: relative;
    overflow: hidden;

    scroll-snap-align: center;
  }
  .denmark {
    width: 300px;
  }

  .vicpark {
    width: 300px;
  }
</style>
