---
import Container from "./Container.astro";
import Down from "./Down.astro";
---

<!-- Location Section -->
<Container backgroundColour="#164307" bubbleColour="#C8F0E4" id="locations">
  <div class="locations">
    <h2 class="top">Our</h2>
    <!-- Western Australian Travel. n.d. "The Truly Awesome Boston Brewing Denmark WA." Digital Image. Reproduced From: Western Australian Travel. https://westernaustraliantravel.com/wp-content/uploads/2021/11/boston-brewery- denmark-wa-3.jpg -->
    <img class="denmark" src="images/boston-denmark.png" />
    <h3 class="denmark-title">Denmark</h3>
    <!-- Boston Brewing Co. n.d. "Venue 1" Digital Image. Reproduced From: Boston Brewing Co. http://bostonbrewing.com.au/wp-content/uploads/2020/05/venue- 1.jpg -->
    <img class="vicpark" src="images/boston-vicpark.png" />
    <h3 class="vicpark-title">Victoria Park</h3>
    <h2 class="bottom">Locations</h2>
  </div>

  <a href="#newsletter">
    <Down />
  </a>

  <style>
    .locations {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);

      display: flex;
      flex-direction: column;
      flex-wrap: nowrap;
      align-items: center;
      gap: 16px;
    }

    h2 {
      margin: 0;
      top: 140px;

      width: 7.5ch;
      font-size: 70px;
      color: #164307;
      -webkit-text-stroke: 1px #c8f0e4;

      text-align: center;
    }

    h2.bottom {
      color: #c8f0e4;
    }

    h3 {
      margin: 0;
      color: #c8f0e4;
      font-family: articulat-cf, sans-serif;
      font-weight: 800;
      font-style: normal;
      font-size: 28px;
    }

    img {
      width: 150px;
    }
  </style>
</Container>
