---
import Container from "./Container.astro";
---

<!-- Location Section -->
<Container backgroundColour="#e49472" bubbleColour="#C8F0E4">
  <div class="locations">
    <h2 class="top">locations</h2>
    <img class="denmark" src="images/boston-denmark.png" />
    <h3 class="denmark-title">Denmark</h3>
    <img class="vicpark" src="images/boston-vicpark.png" />
    <h3 class="vicpark-title">Victoria Park</h3>
  </div>

  <style>
    .locations {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    h2 {
      margin: 0;
      top: 140px;

      width: 7.5ch;
      font-size: 75px;
      color: #e49472;
      -webkit-text-stroke: 1px #c8f0e4;

      text-align: center;
    }

    .denmark {
      position: absolute;
      height: 250px;
      width: auto;
      margin: 0;
      top: 30%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .vicpark {
      position: absolute;
      height: 250px;
      width: auto;
      margin: 0;
      bottom: 10%;
      left: 50%;
      transform: translate(-50%, -50%);
    }
  </style>
</Container>
