---
import Container from "./Container.astro";
import Qrcode from "./Qrcode.astro";
---

<!-- Newsletter Section -->
<Container backgroundColour="#e49472" bubbleColour="#C8F0E4">
  <div class="newsletter">
    <h2 class="top">Our</h2>
    <Qrcode />
    <h2 class="bottom">Newsletter</h2>
  </div>
</Container>
