---
import Container from "./Container.astro";
---

<!-- Process Section -->
<Container backgroundColour="#E35D41" bubbleColour="#C8F0E4">
  <div class="process section">
    <h2>
      <span class="top">Our</span>
      <span class="bottom">Process</span>
    </h2>
    <img class="black-can" src="images/BostonBlack.png" />
    <img class="wheat" src="images/wheat.svg" />
    <img class="lemon" src="images/lemon.svg" />
    <img class="barrels" src="images/barrels.svg" />
    <img class="beer" src="images/beer.svg" />
  </div>
</Container>

<style>
  h2 {
    margin: 0;

    font-size: 75px;
    color: #e35d41;
    -webkit-text-stroke: 1px #c8f0e4;

    text-align: center;
  }

  h2 .bottom {
    color: #c8f0e4;
  }

  .black-can {
    position: absolute;
    height: 350px;
    width: auto;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
</style>
