---
import Container from "./Container.astro";
import Down from "./Down.astro";
---

<!-- Process Section -->
<Container backgroundColour="#E35D41" bubbleColour="#C8F0E4" id="process">
  <div class="process">
    <h2 class="top">Our</h2>
    <!-- Vectorpocket. n.d. "Mega Bundle 145 Icons." Icons. Reproduced From: Freepik. https://www.freepik.com/free-vector/big-bundle-set-vector-illustrations-fine-line- icons-32x32-pixel- perfect_1320597.htm#query=beer%20icon&position=8&from_view=search -->
    <!-- The Crafty Pint. n.d. "Boston Brewing Afterglose." Digital Image. Reproduced From: Crafty Pint. https://craftypint.s3.amazonaws.com/crafty4/beer/Boston-Brewing- Limited-release-180910-181207.png -->
    <img class="wheat" src="images/wheat.svg" />
    <img class="lemon" src="images/lemon.svg" />
    <img class="black-can" src="images/BostonBlack.png" />
    <img class="barrels" src="images/barrels.svg" />
    <img class="beer" src="images/beer.svg" />
    <h2 class="bottom">Process</h2>
  </div>

  <a href="#locations">
    <Down />
  </a>
</Container>

<style>
  .process {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
  }

  h2 {
    margin: 0;

    font-size: 75px;
    color: #e35d41;
    -webkit-text-stroke: 1px #c8f0e4;

    text-align: center;
  }

  h2.bottom {
    color: #c8f0e4;
  }

  .black-can {
    height: 250px;
    width: auto;
    margin: 0;
  }

  .wheat,
  .lemon,
  .barrels,
  .beer {
    height: 70px;
  }
</style>
