---
import Container from "./Container.astro";
---

<!-- Process Section -->
<Container backgroundColour="#E35D41" bubbleColour="#C8F0E4">
  <div class="process">
    <h2 class="top">Our</h2>
    <img class="wheat" src="images/wheat.svg" />
    <img class="lemon" src="images/lemon.svg" />
    <img class="black-can" src="images/BostonBlack.png" />
    <img class="barrels" src="images/barrels.svg" />
    <img class="beer" src="images/beer.svg" />
    <h2 class="bottom">Process</h2>
  </div>
</Container>

<style>
  .process {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;

    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-items: center;
    gap: 10px;
  }

  h2 {
    margin: 0;

    font-size: 75px;
    color: #e35d41;
    -webkit-text-stroke: 1px #c8f0e4;

    text-align: center;
  }

  h2.bottom {
    color: #c8f0e4;
  }

  .black-can {
    height: 250px;
    width: auto;
    margin: 0;
  }

  .wheat,
  .lemon,
  .barrels,
  .beer {
    height: 70px;
  }
</style>
