<!-- Process Section -->
<section>
  <div class="process section">
    <h2>Our Process</h2>
    <img src="images/BostonBlack.png" />
  </div>
</section>

<style>
  section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #e35d41;

    scroll-snap-align: center;
  }
</style>
