---
import Up from "./Up.astro";
---

<div class="qr-overview">
  <sl-qr-code
    value="http://bostonbrewing.com.au/"
    label="Scan this code to sign up to our newsletter!"
  />
</div>

<Up />

<style>
  .qr-overview {
    max-width: 256px;
  }

  .qr-overview sl-input {
    margin-top: 1rem;
  }
</style>
