<!-- QR Component from Shoelace --><!--  Shoelace. n.d. "QR Code." Accessed on: 8 November, 2022. https://shoelace.style/components/qr-code -->
<div class="qr-overview">
  <sl-qr-code
    value="http://bostonbrewing.com.au/"
    label="Scan this code to sign up to our newsletter!"
  />
</div>

<style>
  .qr-overview {
    max-width: 256px;
  }

  .qr-overview sl-input {
    margin-top: 1rem;
  }
</style>
