<div class="qr-overview">
  <sl-qr-code
    value="https://shoelace.style/"
    label="Scan this code to visit Shoelace on the web!"
  />
</div>

<style>
  .qr-overview {
    max-width: 256px;
  }

  .qr-overview sl-input {
    margin-top: 1rem;
  }
</style>
