<!-- Season's Special Section -->
<section>
  <div class="special section">
    <h2>Season's Special</h2>
    <img src="images/BostonSummer.png" />
  </div>
</section>

<style>
  section {
    height: 100vh;
    position: relative;
    overflow: hidden;
    background: #c8f0e4;

    scroll-snap-align: center;
  }
</style>
