---
import Container from "./Container.astro";
---

<!-- Season's Special Section -->
<Container backgroundColour="#C8F0E4" bubbleColour="#265816" id="special">
  <div class="season-special">
    <h2 class="top">Season's</h2>
    <img class="summer-can" src="images/summer-night.svg" />
    <h3>Tasting Notes</h3>
    <div class="pill-container">
      <!-- Shoelace. n.d. "Tag." Accessed on: 8 November, 2022. https://shoelace.style/components/tag -->
      <sl-tag class="blueberry" variant="primary" size="large" pill
        >Blueberry</sl-tag
      >
      <sl-tag class="mint" variant="success" size="large" pill>Mint</sl-tag>
      <sl-tag class="lemon" variant="warning" size="large" pill>Lemons</sl-tag>
    </div>
    <h2 class="bottom">Special</h2>
  </div>
  <img class="left" src="images/arrow-left.svg" />
  <img class="right" src="images/arrow-right.svg" />
</Container>

<style>
  .season-special {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  h2 {
    margin: 10px;

    font-size: 75px;
    color: #c8f0e4;
    -webkit-text-stroke: 1px #265816;

    text-align: center;
  }

  h2.bottom {
    color: #265816;
  }

  h3 {
    margin: 10px;
    font-size: 30px;
    color: #265816;
    font-family: articulat-cf, sans-serif;
    font-weight: 800;
    font-style: normal;
  }

  .summer-can {
    width: 300px;
    height: auto;
  }

  .left {
    position: absolute;
    margin: 0;
    height: 40px;
    width: auto;
    position: absolute;
    top: 45%;
    left: 10%;
  }

  .right {
    position: absolute;
    margin: 0;
    height: 40px;
    width: auto;
    position: absolute;
    top: 45%;
    right: 10%;
  }

  .pill-container {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    gap: 1rem;
    justify-content: center;
  }

  .mint::part(base) {
    background-color: #c8f0e4;
    border-color: #265816;
    border-width: 2px;
    color: #265816;
  }

  .blueberry::part(base) {
    background-color: #c8f0e4;
    border-color: #41139e;
    border-width: 2px;
    color: #41139e;
  }

  .lemon::part(base) {
    background-color: #c8f0e4;
    border-color: #c58500;
    border-width: 2px;
    color: #c58500;
  }
</style>
