---
import Container from "./Container.astro";
---

<!-- Season's Special Section -->
<Container backgroundColour="#C8F0E4" bubbleColour="#265816">
  <div class="season-special">
    <h2 class="top">Season's</h2>
    <img class="summer-can" src="images/summer-night.svg" />
    <h2 class="bottom">Special</h2>
  </div>
  <img class="left" src="images/arrow-left.svg" />
  <img class="right" src="images/arrow-right.svg" />
</Container>

<style>
  .season-special {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }

  h2 {
    margin: 0;

    font-size: 75px;
    color: #c8f0e4;
    -webkit-text-stroke: 1px #265816;

    text-align: center;
  }

  h2.bottom {
    color: #265816;
  }

  .summer {
    position: absolute;
    height: 500px;
    width: auto;
  }

  .left {
    position: absolute;
    margin: 0;
    height: 40px;
    width: auto;
    position: absolute;
    top: 50%;
    left: 10%;
  }

  .right {
    position: absolute;
    margin: 0;
    height: 40px;
    width: auto;
    position: absolute;
    top: 50%;
    right: 10%;
  }
</style>
